#pic1{
    background-image: url("IMG_20221219_231105.jpg");
    width:auto;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    opacity:0.85;
}

.text_color{
    color: rgb(255, 255, 255);
}

li a{
    font-size:17px;
}

li a:hover{
    background-color:#005AB5 !important;
}

.change{
    font-size:17px;
}
.change:hover{
    background-color:#005AB5 !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > th,.table-striped > tbody > tr:nth-child(2n+1) > td{
    background-color:#ECF5FF;
}


table {
    table-layout: fixed; 
    word-break: break-all;
}

.name {
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pic2{
    background-image: url("IMG_20221219_231105.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text_label_color{
    color:#5151A2;
    font-weight:bold;
}

.login{
    width:450px;
    position:relative;
    margin-top:10px;
}
.login input{
    outline:none;
    border:none;
    width:100%;
    padding: 12px 0;
    color:#5151A2;
    font-size:10px;
    font-weight:bold;
    border-bottom:1px solid #5151A2;
    background:none;
}
.login label{
    position:absolute;
    top:0;
    left:0;
    color:#5151A2;
    font-size:15px;
    pointer-events:none;
    transition:all 0.4s;
}
.login input:focus + label,.login input:valid + label{
    font-size:10px;
    top: -20px;
    color:red;
}

