

#pic1{
    background-image: url("IMG_20221219_231105.jpg");
    width:auto;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    opacity:0.85;
}

.text_color{
    color: rgb(255, 255, 255);
}
